.our-menu {
	padding: 120px 0px;
	background-color: #f3f4f7;
	color: #0b0c0d;

   @include media-max(469.98px) {
      padding: 80px 0;
   };

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.heading {
		&__text-line {
			background-color: #c8235d;
		}
	}

	.foods {
		margin: 118px 0px 0px 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 62px;

		@include media-max(1149.98px) {
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: center;
		}

      @include media-max(469.98px) {
         margin: 20px 0px 0px 0px;
      };
	}
	.food {
		display: flex;
		flex-direction: column;
		max-width: 462px;

		@include media-max(1149.98px) {
			max-width: 862px;
		}
		&__title {
			display: flex;
			justify-content: space-between;
		}

		&__name {
			text-transform: uppercase;
		}

		&__price {
			padding: 0px 0px 0px 10px;
			color: #c8235d;
		}

		&__description {
			@include font(1.8rem, 2rem);
			margin: 10px 0px 0px 0px;
			color: hsla(210, 8%, 5%, 0.7);
		}
	}

}
